<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Commercial leases available from Rose Office Building conveniently located near downtown Greensboro and Fisher Park. Call for more information.">
	<meta name="keywords" content="rose office building,commercial space,commercial lease,office rent">
	<meta name="author" content="Rose Office">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="rob.css">
	<title>Rose Office Building</title>
</head>
<body>
<script type="text/javascript" src="rob.js"></script>
</body>
</html>